html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#wrap > .container {
    padding: 40px 0px;
}

.container > .page-header {
	padding: 0px 15px 0px 15px;
}

.container > .row {
	margin-left: 0px;
	margin-right: 0px;
}

.item-card {
	height: 320px;
	border: 1px solid #fff;
	background-color: #36454f;
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	font-size: 14px;
}

.item-card a:hover {
	background-color: rgba(8,17,18,.3);
	color: #ecf0f1;
}


@media only screen and (max-width:520px){
	.item-card{
		height:280px
	}
}

.item-card a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 40px;
	text-shadow: 0 0 2px rgba(0,0,0,.6);
	text-decoration: none;
	color: #fff;
	-webkit-transition: background-color .4s;
	transition: background-color .4s;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(0,0,0,.3)),to(rgba(0,0,0,.4)));
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.3) 50%,rgba(0,0,0,.4));
	background-image: linear-gradient(180deg,rgba(0,0,0,.3) 50%,rgba(0,0,0,.4));
	position: relative;
	text-align: center;
}

.item-card h2 {
	font-weight:bold;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.item-thumbnail {
    float: left;
    width: 30%;
    height: 100%;
}

.item-thumbnail img{
	width: 100%;
	height: 100%;
}

.item-description {
}

.item-title {
}

.item-sticker {
	background-color: #d03b3b;
	position: absolute;
	top: 0px;
	height: 63px;
	right: 0px;
	width: 70px;
}

.item-rooms {
	display: block;
	font-family: myriad-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .3px;
	font-size: 14px;
	text-transform: none;
}

.bs-docs-separator {
    margin: 40px 0 39px;
}

.navbar-default {
    background-color: #cb0013;
    border-color: #bf3e11;
}

.navbar {
	padding-right: 5px;
	padding-left: 5px;
}

.navbar-right {
	padding-right: 20px;
	padding-left: 5px;
}

#footer {
	height: 60px;
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0px;
	background-color: #f7f7f7;
	-webkit-box-shadow: 0px -4px 13px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -4px 13px -5px rgba(0,0,0,0.75);
	box-shadow: 0px -4px 13px -5px rgba(0,0,0,0.75);
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

.container .credit {
	margin: 20px 0;
}

.jumbotron {
	background-color: transparent;
	text-align: center;
}

.hidden-xs .jumbotron {
	margin: 28px 0;
}

.visible-xs .jumbotron {
	margin: 20px 0;
}

.jumbotron h1 {
	line-height: 1;
}

.hidden-xs .jumbotron .hidden-sm h1 {
	font-size: 100px;
}

.hidden-xs .jumbotron .visible-sm h1 {
	font-size: 80px;
}

.visible-xs .jumbotron h1 {
	font-size: 60px;
}

.jumbotron .lead {
	line-height: 1.25;
}

.hidden-xs .jumbotron .lead {
	font-size: 24px;
}

.visible-xs .jumbotron .lead {
	font-size: 20px;
}

.hidden-xs .jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.visible-xs .jumbotron .btn {
	font-size: 20px;
	padding: 12px 18px;
}

.comment-box {
	resize: none;
}

.comment-button {
	margin-top:15px;
	margin-bottom:10px;
}

.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}

.slideshow {
	width: 100%;
}